footer, footer a {
    color: white;
}

footer {
    /* margin-top: 200vh; */
    display: block;
    overflow: hidden;
    background-color: darkred;
}

footer a:hover {
    color: rgb(2, 196, 2);
}

footer .container > ul {
    overflow: hidden;
    margin: 30px 0;
    padding-left: 0;
}

footer .container > ul li {
    float: left;
    padding-right: 25px;
}


footer .item h4 {
    margin-bottom: 20px;
    color: rgb(2, 196, 2)
}

footer .item p.address {
    line-height: 1.2;
    font-size: 16px;
}

footer .item ul {
    padding-left: 0;
}

footer .item ul li {
    margin-bottom: 3px;
    font-size: 16px;
}

footer .date p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}

footer .item form {
    overflow: hidden;
}

footer .item form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-style: italic;
    border: 0px;
    border-bottom: 2px solid white;
    color: white;
    background-color: darkred;
}
footer .item form input:focus{
    outline: none;
}

footer .item form input[type="submit"] {
    width: 100px;
    height: 40px;
    line-height: 4px;
    background-color: darkred;
    border: 2px solid rgb(2, 196, 2);
    border-radius: 50px;
    /* border: none; */
    float: right;
    font-weight: bold;
    color: rgb(2, 196, 2);
    padding: 0;
    cursor: pointer;
    transition: all ease .3s;
}
footer .item form input[type="submit"]:hover{
    background-color: rgb(2, 196, 2);
    color: darkred;
    border-color: rgb(2, 196, 2);
}

footer .copyright {
    background-color: darkred;
    padding: 15px 0;
}

footer .copyright p {
    margin-bottom: 0;
    font-size: 16px;
}