*{
    margin: 0%;
    padding: 0%;
}
*::-webkit-scrollbar{
    background-color: white;
    width: 10px;
    border-radius: 5px !important;
}
*::-webkit-scrollbar-thumb{
    background-color: darkred;
    width: 100%;
    border-radius: 5px;
}
/* body {
    background-color: rgba(139, 0, 0, 0.2) !important;
    background-color: rgba(2, 196, 2, 0.1) !important;
} */
li {
    list-style: none;
}

.sub-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50px; */
    width: 100%;
    padding: 10px 20px;
    padding-right: 250px;
    position: fixed;
    top: 0%;
    z-index: 30000;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 10px black;
    background-color: white;
}
.sub-nav .dropper {
    position: absolute;
    right: 5%;
    padding: 10px;
    display: none;
}
.sub-nav .megaCont {
    height: fit-content;
    border-radius: 50px;
    overflow: hidden;
}
.sub-nav .megaCont .mainCont {
    display: flex;
    align-items: center;
    position: relative;
    transition: all ease .3s;
    transform: translateX(-85%);
    overflow: hidden;
}
.sub-nav .megaCont .mainCont > span {
    background-color: rgba(139, 0, 0, 0.266);
    border-radius: 50px;
}
.sub-nav .megaCont .mainCont > span > p {
    transition: all ease 3s;
    padding: 1px 10px;
    transform: translateX(100%) translateY(25%);
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation: cycle 8s infinite;
}
@keyframes cycle {
    0%{
        transform: translateX(100%) translateY(25%);
    }
    100%{
        transform: translateX(-100%) translateY(25%);
    }
}
.sub-nav .megaCont .mainCont > span > p span:nth-child(1) {
    font-style: italic;
    font-weight: bold;
    color: darkred;
    text-shadow: 0px 0px 5px white;
    /* font-family: cursive; */
}
.sub-nav .megaCont .mainCont > span > p span:nth-child(2) {
    font-style: normal;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
    text-shadow: 0px 0px 5px darkred;
}
.sub-nav .megaCont .mainCont .subCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 50px 0px 0px 50px;
    height: 100%;
    width: 120px;
    position: absolute;
    right: 0%;
}
.sub-nav .megaCont .mainCont .subCont p {
    /* border: 1px solid brown; */
    /* margin-top: 8px; */
    margin-left: 10px;
    transform: translateY(25%);
}
.icon{
    width: 40px;
    height: 40px;
    background-color: rosybrown;
    border-radius: 50%;
}
nav.sub-nav .search{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 2px solid darkred;
    border-radius: 10px;
    padding: 0px 10px;
}
nav input[type="search"]{
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    width: 400px;
    background-color: white;
}
nav input[type="search"]:focus {
    outline: none;
}
nav .search .fa-search{
    transform: translateY(20%);
}
.filter{
    position: relative;
    display: flex;
    flex-direction: column;
    /* overflow: hidden !important; */
}
.filter div{
    padding: 5px;
    cursor: pointer;
    overflow: hidden !important;
}
.filter .showing{
    z-index: 10;
    border: 2px solid darkred;
    width: 100px;
    border-radius: 10px;
    background-color: white;
}
.filter .not-showing{
    width: 100%;
    position: absolute;
    background-color: rgb(55, 55, 58);
    color: white;
    transition: all ease .3s;
    top: 100%;
    display: none;
    opacity: 0  ;
    transform: translateY(-100%);
    z-index: +9;
    overflow-y: scroll;
    animation: fadeDone .8s;
}
.last-icon{
    display: flex;
    /* border: 1px solid red; */
    align-items: top;
    margin-top: 50px;
    position: absolute;
    right: 2%;
    overflow: hidden;
    cursor: pointer;
}
.last-inner {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.cart-icon {
    /* margin-top: 3px; */
    margin-left: 20px;
    font-size: 25px;
}
.fa-heart {
    /* margin-top: 3px; */
    font-size: 25px;
    margin-left: 20px;
}
.last-icon .slide {
    width: 85%;
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    overflow: hidden;
    flex-direction: column-reverse;
}
.last-icon .slide .showing {
    transform: translateX(75%);
    background-color: white;
    z-index: +10000 !important;
    transition: all ease .3s;
    padding: 0px 5px;
}
.last-icon .fa-ellipsis-vertical {
    z-index: +100000 !important;
    margin-top: 5px;
}
.last-icon .slide .not-showing span {
    /* background-color: rgb(55, 55, 58); */
    z-index: -9 !important;
    display: block;
    background-color: white;
    padding: 0px 5px;
}
.last-icon .slide .not-showing {
    transform: translate(75%, -100%);
    transition: all ease .3s;
}

main {
    margin-top: 100px;
    display: grid !important;
    grid-template-columns: 3fr 1.1fr;
    width: 100%;
    height: 100vh;
    /* padding: 20px; */
}

main > div {
    padding: 20px;
}

main .productViewContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    /* border: 2px solid darkred; */
    height: inherit;
    position: relative;
}

main .productViewContainer .imageHolder {
    /* border: 1px solid blue; */
    border-radius: 5px;
    height: 80%;
    width: 60%;
    cursor: zoom-in;
    background-image: url('../imgs/IMG-20221118-WA0076.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main .productViewContainer > button {
    position: absolute;
    bottom: 10%;
    left: 5%;
    border: 2px solid rgba(2, 196, 2, 1);
    border-radius: 50px;
    width: 190px;
    height: 40px;
    background-color: white;
    color: rgba(2, 196, 2, 1);
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    transition: all ease .3s;
}
main .productViewContainer > button:hover {
    background-color: rgba(2, 196, 2, 1);
    color: white;
}
main .productViewContainer .innerCont {
    width: 35%;
}
main .productViewContainer .words {
    height: fit-content;
    /* border: 1px solid yellowgreen; */
}
main .productViewContainer .words > div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid brown; */
    width: 150px;
}
main .productViewContainer .words > div span {
    text-decoration: 1px underline;
}
main .productViewContainer .words > div del {
    color: darkred;
}
main .productViewContainer .words > div p {
    color: rgba(2, 196, 2, 1);
    font-size: 30px;
}
main .productViewContainer .innerCont .options {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    /* border: 1px solid red; */
    height: 323px;
    overflow-y: scroll;
}
main .productViewContainer .innerCont .options::-webkit-scrollbar{
    background-color: white;
    width: 0px;
    border-radius: 5px !important;
}
main .productViewContainer .innerCont .options::-webkit-scrollbar-thumb{
    background-color: darkred;
    width: 100%;
    border-radius: 5px;
}
main .productViewContainer .innerCont .options .option {
    position: relative;
    /* border:  1px solid brown; */
}
main .productViewContainer .innerCont .options .option img {
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 5px;
    height: 150px;
}
main .productViewContainer .innerCont .options .option .cast {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all ease .3s;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
main .productViewContainer .innerCont .options .option .cast:hover {
    /* background-color: rgba(0, 0, 0, .3); */
    background-color: rgba(139, 0, 0, 0.1);
}

.cartSide {
    overflow-y: scroll;
    height: inherit;
    /* background-color: rgba(139, 0, 0, 0.253); */
    background-color: rgba(2, 196, 2, 0.4);
    /* border: 2px solid darkred; */
}
.cartSide::-webkit-scrollbar {
    background-color: rgba(139, 0, 0, 0);
}
.cartSide::-webkit-scrollbar-thumb {
    background-color: rgba(2, 196, 2, 1);
}
.cartSide h2 {
    text-align: center;
}
.cartSide .totalCont {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.cartSide .item {
    /* padding: 10px; */
    padding-left: 10px;
    height: 60px;
    color: white;
    background-color: rgb(199, 5, 5);
    /* background-color: rgba(2, 196, 2, 1.452); */
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 20px 0px 50px 0px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all ease .3s;
}
.cartSide .item:hover {
    transform: translateY(-5%);
    box-shadow: 0px 0px 5px rgb(55, 55, 58);
}
.cartSide .item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}
.cartSide .item .name {
    font-weight: bold;
    font-size: 25px;
}
.cartSide .item .price {
    font-weight: bold;
    position: absolute;
    bottom: 50%;
    right: 30px;
    transform: translateY(50%);
}
.cartSide .item .buttons {
    position: absolute;
    top: 100%;
    /* background-color: white; */
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    z-index: -200;
    opacity: 0;
    transform: translateY(-110%);
    transition: all ease .3s;
}
.cartSide .item .buttons button {
    border: 0px;
    width: 100px;
    height: 30px;
    /* border: 2px solid rgba(2, 196, 2, 1); */
    border-radius: 50px;
    background-color: rgba(2, 196, 2, 1);
    color: white;
    cursor: pointer;
}
.cartSide .item .buttons button:nth-child(2) {
    background-color: darkred;
}

section {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    overflow-x: scroll;
}
section::-webkit-scrollbar{
    background-color: white;
    height: 0px;
    border-radius: 5px !important;
}
section > div {
    height: 220px;
    overflow-y: hidden;
    width: max-content;
}
section .innerSect > div {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin-left: 15px;
    height: 100%;
    transition: all ease .1s;
}
section .innerSect div div.cast {
    position: absolute;
    top : 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, .0); */
    border-radius: inherit;
    transition: all ease .3s;
}
section div div img {
    border-radius: 5px;
    border-radius: inherit;
    width: 200px;
    /* border: 1px solid black; */
}
/* section .innerSect div div.cast:hover {
    background-color: rgba(139, 0, 0, 0.253);
} */
section .innerSect div div.name {
    position: absolute;
    top: 100%;
    background-color: white;
    width: 100%;
    height: 30%;
    display: flex;
    padding-left: 20px;
    /* justify-content: center; */
    align-items: center;
    /* font-weight: bold; */
    font-size: 20px;
    transition: all ease .3s;
}
section .innerSect div div.name:hover {
    top: 70%;
    color: rgba(2, 196, 2, 1);
}

@media (max-width: 1150px) {
    /* navbar */

    .navbar #show-menu {
        overflow-y: hidden;
    }
    .navbar ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        transform: translateY(-1000%);
        transition: all ease .3s;
    }
    .navbar ul li {
        margin: 10px 0;
    }
    nav.navbar form {
        width: 100%;
        position: static;
    }

    .sub-nav {
        padding-right: 150px;
    }
    .sub-nav .megaCont .mainCont > span {
        width: 300px !important;
    }
    .sub-nav .megaCont .mainCont > span p {
        width: 400px !important;
    }
    .sub-nav .filter .showing {
        font-size: 15px;
        width: 100px;
        /* border: 1px solid black; */
    }
    .sub-nav .filter .not-showing {
        font-size: 15px;
    }
    .sub-nav .search {
        border: 0px !important;
        /* border: 2px solid black !important; */
        z-index: +10000 !important;
    }
    .sub-nav input[type="search"] {
        width: 0px;
        transition: all ease .4s;
    }
    .sub-nav input[type="search"]:focus {
        width: 200px;
        z-index: 100;
    }

    main {
        height: fit-content;
        grid-template-columns: auto;
    }
    main .productViewContainer .imageHolder {
        /* border:  1px solid red; */
        height: 400px;
    }
    main .productViewContainer .innerCont .options .option img {
        height: 100px;
        /* border: 1px solid red; */
    }

    
    footer .col-lg-3 {
        margin-bottom: 40px;
    }
    @media (max-width: 768px) {

        nav .container a img{
            width: 50px;
            height: 50px;
        }



        .sub-nav {
            padding-right: 10%;
        }
        .sub-nav .megaCont .mainCont {
            border-radius: 50px;
            /* width: 50px; */
        }
        .sub-nav .megaCont .mainCont > span p {
            font-size: 15px;
        }
        .sub-nav .megaCont .mainCont .subCont {
            width: 45px;
            padding: 0% !important;
        }
        .sub-nav .megaCont .mainCont .subCont p {
            display: none;
        }
        .sub-nav input[type="search"]:focus {
            width: 170px;
        }
        .sub-nav .dropper {
            display: block;
        }
        .sub-nav .last-icon {
            /* display: none; */
            top: 30%;
            right: 5%;
            flex-direction: column-reverse;
            align-items: flex-end;
            justify-content: space-between;
            height: 0px;
            /* width: 0px; */
            /* border: 1px solid red; */
            background-color: white;
            transition: all ease .3s;
        }
        main .productViewContainer {
            flex-direction: column;
            width: 100%;
            padding-bottom: 100px;
        }
        main .productViewContainer .imageHolder {
            background-size: contain;
        }
        main .productViewContainer .imageHolder , main .productViewContainer .innerCont {
            width: 100%;
        }
        main .productViewContainer .innerCont .options {
            height: 100px;
            grid-template-columns: auto auto auto auto; 
        }
        @media (max-width: 400px) {
            main .productViewContainer .innerCont .options {
                grid-template-columns: auto auto; 
            }
        }
        main .productViewContainer .innerCont .options .option {
            width: 100px;
        }
        main .productViewContainer > button {
            bottom: 5%;
        }

        main .cartSide .item .name {
            font-size: 20px;
        }

        section .innerSect {
            height: fit-content;
        }
        section .innerSect div , section .innerSect div img {
            height: 200px;
        }
    }
}