*{
    margin: 0%;
    padding: 0%;
}
*::-webkit-scrollbar{
    background-color: white;
    width: 10px;
    border-radius: 5px !important;
}
*::-webkit-scrollbar-thumb{
    background-color: darkred;
    width: 100%;
    border-radius: 5px;
}
body {
    background-color: rgba(139, 0, 0, 0.2) !important;
    /* background-color: rgba(2, 196, 2, 0.1) !important; */
}
li {
    list-style: none;
}

.sub-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50px; */
    width: 100%;
    padding: 10px 20px;
    padding-right: 250px;
    position: fixed;
    top: 0%;
    z-index: 30000;
    /* border: 1px solid red; */
    background-color: white;
}
.icon{
    width: 40px;
    height: 40px;
    background-color: rosybrown;
    border-radius: 50%;
}
nav.sub-nav .search{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 2px solid darkred;
    border-radius: 10px;
    padding: 0px 10px;
}
nav input[type="search"]{
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    width: 400px;
    background-color: white;
}
nav input[type="search"]:focus {
    outline: none;
}
nav .search .fa-search{
    transform: translateY(20%);
}
.filter{
    position: relative;
    display: flex;
    flex-direction: column;
    /* overflow: hidden !important; */
}
.filter div{
    padding: 5px;
    cursor: pointer;
    overflow: hidden !important;
}
.filter .showing{
    z-index: 10;
    border: 2px solid darkred;
    width: 100px;
    border-radius: 10px;
    background-color: white;
}
.filter .not-showing{
    width: 100%;
    position: absolute;
    background-color: rgb(55, 55, 58);
    color: white;
    transition: all ease .3s;
    top: 100%;
    display: none;
    opacity: 0  ;
    transform: translateY(-100%);
    z-index: +9;
    overflow-y: scroll;
    animation: fadeDone .8s;
}
.last-icon{
    display: flex;
    /* border: 1px solid red; */
    align-items: top;
    margin-top: 50px;
    position: absolute;
    right: 2%;
    overflow: hidden;
    cursor: pointer;
}
.last-inner {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.cart-icon {
    /* margin-top: 3px; */
    margin-left: 20px;
    font-size: 25px;
}
.fa-heart {
    /* margin-top: 3px; */
    font-size: 25px;
    margin-left: 20px;
}
.last-icon .slide {
    width: 85%;
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    overflow: hidden;
    flex-direction: column-reverse;
}
.last-icon .slide .showing {
    transform: translateX(75%);
    background-color: white;
    z-index: +10000 !important;
    transition: all ease .3s;
    padding: 0px 5px;
}
.last-icon .fa-ellipsis-vertical {
    z-index: +100000 !important;
    margin-top: 5px;
}
.last-icon .slide .not-showing span {
    /* background-color: rgb(55, 55, 58); */
    z-index: -9 !important;
    display: block;
    background-color: white;
    padding: 0px 5px;
}
.last-icon .slide .not-showing {
    transform: translate(75%, -100%);
    transition: all ease .3s;
}

main {
    margin-top: 100px;
    display: grid !important;
    grid-template-columns: 3fr 1.1fr;
    width: 100%;
    height: 100vh;
    /* padding: 20px; */
}

main > div {
    padding: 20px;
}

main .productViewContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    height: inherit;
    position: relative;
}

main .productViewContainer .imageHolder {
    /* border: 1px solid blue; */
    border-radius: 5px;
    height: 80%;
    width: 60%;
    cursor: zoom-in;
    background-image: url('../imgs/img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main .productViewContainer > button {
    position: absolute;
    bottom: 10%;
    left: 5%;
    border: 2px solid rgba(2, 196, 2, 1);
    border-radius: 50px;
    width: 190px;
    height: 40px;
    background-color: white;
    color: rgba(2, 196, 2, 1);
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    transition: all ease .3s;
}
main .productViewContainer > button:hover {
    background-color: rgba(2, 196, 2, 1);
    color: white;
}
main .productViewContainer .innerCont {
    width: 35%;
}
main .productViewContainer .words {
    height: fit-content;
    /* border: 1px solid yellowgreen; */
}
main .productViewContainer .words > div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid brown; */
    width: 150px;
}
main .productViewContainer .words > div span {
    text-decoration: 1px underline;
    border-bottom: 1px solid black;
}
main .productViewContainer .innerCont .options {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    /* border: 1px solid red; */
    height: 323px;
    overflow-y: scroll;
}
main .productViewContainer .innerCont .options::-webkit-scrollbar{
    background-color: white;
    width: 0px;
    border-radius: 5px !important;
}
main .productViewContainer .innerCont .options::-webkit-scrollbar-thumb{
    background-color: darkred;
    width: 100%;
    border-radius: 5px;
}
main .productViewContainer .innerCont .options .option {
    position: relative;
    /* border:  1px solid brown; */
}
main .productViewContainer .innerCont .options .option img {
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 5px;
    height: 150px;
}
main .productViewContainer .innerCont .options .option .cast {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all ease .3s;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
main .productViewContainer .innerCont .options .option .cast:hover {
    /* background-color: rgba(0, 0, 0, .3); */
    background-color: rgba(139, 0, 0, 0.1);
}

.cartSide {
    overflow-y: scroll;
    height: inherit;
}
.cartSide::-webkit-scrollbar {
    background-color: rgba(139, 0, 0, 0);
}
.cartSide::-webkit-scrollbar-thumb {
    background-color: rgba(2, 196, 2, 1);
}
.cartSide h2 {
    text-align: center;
}
.cartSide .totalCont {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.cartSide .item {
    /* padding: 10px; */
    padding-left: 10px;
    height: 60px;
    /* background-color: rgba(139, 0, 0, 0.548); */
    background-color: rgba(2, 196, 2, 0.452);
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 20px 0px 50px 0px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all ease .3s;
}
.cartSide .item:hover {
    transform: translateY(-5%);
    box-shadow: 0px 0px 5px rgb(55, 55, 58);
}
.cartSide .item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}
.cartSide .item .name {
    font-weight: bold;
    font-size: 25px;
}
.cartSide .item .price {
    font-weight: bold;
    position: absolute;
    bottom: 50%;
    right: 30px;
    transform: translateY(50%);
}
.cartSide .item .buttons {
    position: absolute;
    top: 100%;
    /* background-color: white; */
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    z-index: -200;
    opacity: 0;
    transform: translateY(-110%);
    transition: all ease .3s;
}
.cartSide .item .buttons button {
    border: 0px;
    width: 100px;
    height: 30px;
    /* border: 2px solid rgba(2, 196, 2, 1); */
    border-radius: 50px;
    background-color: rgba(2, 196, 2, 1);
    color: white;
    cursor: pointer;
}
.cartSide .item .buttons button:nth-child(2) {
    background-color: darkred;
}

section {
    display: flex;
    width: 98%;
    margin: 20px auto;
    padding: 10px;
    overflow-x: scroll;
}
section::-webkit-scrollbar{
    background-color: white;
    height: 0px;
    border-radius: 5px !important;
}
section > div {
    width: max-content;
}
section .innerSect > div {
    /* border: 1px solid black; */
    position: relative;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    height: 100%;
    /* width: 100px; */
}
section .innerSect div div.cast {
    position: absolute;
    top : 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, .0); */
    border-radius: inherit;
    transition: all ease .3s;
}
section div div img {
    border-radius: inherit;
    width: 100px;
}
section .innerSect div div.cast:hover {
    /* background-color: rgba(0, 0, 0, .3); */
    background-color: rgba(139, 0, 0, 0.253);
}